.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.login {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;

}

.loginTitle {
  position: absolute;
  top: 120px;
  color: lightgray
}

.loginImg {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  align-items: center;

}

.wrapper {
  width: 60%;
  height: 80%;
  -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.left,
.right {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginButton {
  width: 125px;
  padding: 10px 25px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  top: 50%;
  left: 20%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);


}

.google {
  background-color: #507cc0;
}

.github {
  background-color: black;
}

.center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.or {
  border: 2px solid lightgrey;
  border-radius: 50%;
  padding: 15px;
  color: grey;
  background-color: white;
  font-weight: bolder;
}

.line {
  width: 0.5px;
  height: 350px;
  background-color: gray;
  position: absolute;
  z-index: -1;

}

.input {
  width: 250px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.submit {
  width: 80px;
  background-color: black;
  color: white;
  margin-right: 35px;
  border-radius: 5px;
}

.submit-area {
  display: flex;
  flex-direction: row;

}

.password {

  display: flex;
  text-align: center;
  color: blue;
  margin-top: 10px;
  margin-left: 10px;
  font-style: italic;
  /* cursor: pointer; */


}

.password a {
  text-decoration: none;
}


.new_account {
  width: 250px;
  height: 30px;
  color: white;
  background-color: black;
  margin-top: 30px;
  border: none;
  border-radius: 5px;


}

.new-account-link {
  color: white;
  text-decoration: none;
}

.logout {
  width: 150px;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
}

.navBarWrapper {
  width: 100vw;
  height: 50px;
  background-color: white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar-container {
  width: 100vw;
  height: 50px;
}

.navBar {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 50px;
  justify-content: space-evenly;
  background-color: darkred;
}

.navBar .logo {
  width: 1650px;
  height: 80px;
  overflow: hidden;
  display: inline-block;
}

.navBar .logo img {
  max-width: 100%;
  max-height: 100%;
}

.navBar li {
  list-style: none;
  cursor: pointer;
}

.navBar a {
  color: white;
  text-decoration: none;
}

.navBar .login-logo {
  width: 300px;
  height: 30px;
  display: inline-block;
  color: white;

}

.navBar .logout {
  height: 30px;
  display: inline-block;
  color: white;
}

.side-menu {
  position: fixed;
  background: grey;
  width: 320px;
  height: 100%;
  box-sizing: border-box;
  padding: 30px 20px;
  transition: width .2s ease-in;
  left: 0%;
}

.side-menu .top-section .logo {
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: inline-block;
}

.side-menu .top-section .logo img {
  max-width: 100%;
  max-height: 100%;
}

.side-menu .top-section .toggle-menu-btn {
  color: #666;
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
  bottom: 40px;
}

.side-menu.inactive {
  width: 80px;
}

.side-menu.inactive .top-section .toggle-menu-btn {
  right: -50px;

}


.split-main {
  display: flex;
  /* flex-direction: row; */
}

.split-top {
  width: '50%';
}

.split-bottom {
  width: '50%';
}

.side-menu .main-menu {
  margin: 5px 0;
  position: relative;
  max-height: 500px;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  list-style: none;
  border-spacing: 5px 1rem;

}

.side-menu .main-menu ul {
  line-height: 10em;
  border-spacing: 5px 1rem;
}

.side-menu .main-menu .menu-item {
  color: white;
  text-decoration: none;
  font-size: 15px;
  display: block;
  font-weight: 600;
  cursor: pointer;
  list-style: none;
}

.dropdown-wrapper {
  width: 50%;
}

.submit-filters {
  width: 100%;
  display: block;
  border: none;
  font-size: medium;
}